a {
    text-decoration: none;
    color: #000;
}
.nav-item-link:hover {
    color: skyblue;
}

.title {
    padding: 25px 0 5px;
    font-weight: bolder;
}
.nav-item-link {
    margin-top: 5px;
    font-size: 15px;
    text-decoration: none;
    display: block;
}
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    margin-left: 20px;
}
.nav-item {
    font-size: 18px;
    padding-top: 15px;
}

.nav-title {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav-sub-title {
    font-size: 17px;
    color: blue;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}